<div class="container">
    <div class="column">
      <div class="row" style="color: darkorange;"><b>NARUTO UZUMAKI!</b></div>
      <div class="row" style="color: rgb(94, 68, 242);"><b>SASUKE UCHIHA!</b></div>
        <div class="row" style="color: rgb(254, 65, 232);" ><b>SAKURA HARUNO!</b></div>
        <div class="row" style="color: rgb(211, 16, 245);"><b>HINATA HYUGA!</b> </div>
      </div>
      <div class="column">
        <div class="row" style="color: rgb(145, 82, 5);"><b>OBITO UCHIHA!</b></div>
        <div class="row" style="color: rgb(32, 143, 45);"><b>KAKASHI HATAKE!</b> </div>
        <div class="row" style="color: rgb(243, 62, 25);"><b>ITACHI UCHIHA!</b></div>
        <div class="row" style="color: rgb(188, 209, 30);"><b>MADARA UCHIHA!</b> </div>
    </div>
  </div>